/* General Style */

html {
    box-sizing: border-box;
}

*, 
*:before,
*:after {
    box-sizing: inherit;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(200deg, rgba(170, 66, 170, 0.507) 0%, rgba(102, 41, 41, 0) 50%),
                linear-gradient(0deg, rgba(170, 66, 170, 0.507) 0%, rgba(102, 41, 41, 0) 50%),
                linear-gradient(0deg,rgba(128, 0, 128, 0.213) 0%, rgba(0, 128, 128, 0.774) 50%),
                linear-gradient(200deg,rgba(128, 0, 128, 0.179) 0%, rgba(0, 128, 128, 0.774) 50%);
    background-repeat: repeat;
}

div {
    margin: 0;
    padding: 0;
}

button {
    margin: 0;
    padding: 0;
}

/* Container Style */

.container {
    display: flex;
    flex-flow: row wrap;
    width: 600px;
    height: 600px;
}

.box {
    background-color: grey;
    border: 1px solid black;
}

/* Control Style */
.control {
    margin-top: 1em;
    width: 550px;
    background-color: rgba(255, 255, 255, 0.158);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control button {
    margin: 1em 0;
    padding: .5em;
    background-color: lightseagreen;
    border-radius: 5px;
}

.clearButton {
    
}

