/* General Style */

html {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;

    width: 100vw;
    height: 100vh;
}

*, 
*:before,
*:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(200deg, rgba(170, 66, 170, 0.507) 0%, rgba(102, 41, 41, 0) 50%),
                linear-gradient(0deg, rgba(170, 66, 170, 0.507) 0%, rgba(102, 41, 41, 0) 50%),
                linear-gradient(0deg,rgba(128, 0, 128, 0.213) 0%, rgba(0, 128, 128, 0.774) 50%),
                linear-gradient(200deg,rgba(128, 0, 128, 0.179) 0%, rgba(0, 128, 128, 0.774) 50%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

h1 {
    margin: 1em 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    border: rgba(58, 114, 108, 0.25) 10px solid;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.213) ;
}

div {
    margin: 0;
    padding: 0;
}

button {
    margin: 0;
    padding: 0;
}

input {
    margin: 0;
    padding: 0;
}

/* Container Style */

.container {
    display: flex;
    flex-flow: row wrap;
    width: 600px;
    height: 600px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.507);
}

.box {
    background-color: grey;
    border: 1px solid black;
}

/* Control Style */
.control {
    margin-top: 2em;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.158);
    border-radius: 20px;
    box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.213);
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-buttons button {
    margin: 1em 1em;
    padding: .5em;
    background-color: lightseagreen;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.528);
    font-size: 16px;
    font-weight: bold;
}

.control-grid {
    
}

.etch-color {
}

.etch-color label {
    size: auto;
    margin: 0;
    padding: 0;
}