/* General Style */

html {
    box-sizing: border-box;
}

*, 
*:before,
*:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

div {
    margin: 0;
    padding: 0;
}

button {
    margin: 0;
    padding: 0;
}

/* Clear Button Style */

.clearButton {
    margin: 1em 0;
}

/* Container Style */

.container {
    display: flex;
    flex-flow: row wrap;
    width: 600px;
    height: 600px;
}

.box {
    background-color: grey;
    border: 1px solid black;
}

